body{
    margin: 6px;
}

.player-controls-panel{
    display: flex;
    align-items: center;
    padding: 4px 2px;
    flex-direction: row;
    background-color: black;
}

.player-controls-panel > *{
    margin-right: 4px;
}

.player-controls-progress{
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.player-controls-progressbar{
    flex-grow: 1;
    margin: 0px 10px;
    display: flex;
    align-items: center;
}

.player-controls-progressbar > *{
    display: inline-block;
    background-color: #f8104d;
    height: 4px;
    border-radius: 2px;
}

.player-controls-slider{
    display: inline-block;
    margin-left: -4px;
    width: 7px;
    height: 7px;
    border-style: solid;
    border-radius: 7px;
    border-width: 3px;
    border-color: white;
    background-color: #f8104d;

    opacity: 0;
    transition-property: opacity;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.player-controls-progressbar:hover .player-controls-slider{
    opacity: 1;
}

.player-video-panel{
    flex-grow: 1;
}

.player-controls-info{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 16px;
}

.player-controls-button{
    color: white;
    font-size: 20px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}

.player-controls-button:last-child{
    margin-right: 0px;
}

.player-container{
    display: flex;
    width: 800px; 
    height: 600px;
    flex-direction: column;
    box-shadow: 0 0 10px #000000d5
}