.player-controls-panel{
    background-color: black;
}

.player-video-panel{
    flex-grow: 1;
}

.player-controls-button{
    color: white;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}

.player-container{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px #000000d5
}